.boton{

    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
}
.Comprobar {
    width: 100px;
    height: 30px;
    border-radius:10px;
    text-align: center;
    background-color: yellow;
}
body {
    text-align: center;
}

